<!DOCTYPE html>

<html lang="pt-BR">

    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/9ff781d0d0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/bountyPerfil.css">
        <title>Bounty</title>
    
    </head>
    
    <body>
        <header class="o-header">
            <nav> 
                <div class="logo"><a href="/home" class="logoHeader"><img src="../assets/logoP.png" alt=""></a></div>
          
                <form action="/pesquisar" method="POST">
                  <input type="search" class="search-data" placeholder="Pesquisar" required>
                  <button type="submit" ><img src="../assets/searchIcon.png" alt=""></button>
                </form>
                
                <div class="mangue"><h4 class="h1nav">Olá <%= name %> <br> <a href="/" id="navlogout">Logout</a></h4></div>
        
                <div class="userarea">
                    <a href="/perfil" class="logoHeader"><img class="fotoHeader" src="Images/<%=mail%>.png" alt="  "></a>  
                </div>
              </nav> 
        </header>
        <aside class="o-logo">
            <div class="fcontainer">
            
                <h2> <%= bountyName %> </h2>
                <br>
                
                <div class="fotoBounty" >
                    <img class="fotoBounty" src="Images/<%=ID%>.png" alt="Bounty sem imagem">
                </div>
                
                <h2>PRAZO</h2>
                <br>
                <div class="boxBounty2">
                    <p> <%= bountyPrazoFinal %> </p>
                </div>
                        
                <h2>RESTRIÇÕES</h2>
                <br>
                <div class="boxBounty3">
                    <p> <%= bountyRestricoes %> </p>
                </div>
                        
                <h2>DESCRIÇÃO</h2>
                    <br>
                <div class="boxBounty">
                    <p> <%= bountyDescricao %> </p>
                </div>
    
                 
                <form action="/editarBounty" method="POST">
                    <input type="hidden" name="ID" value=<%= ID %>>
                    <button type="submit" class="eBotao">Editar</button>
                </form>

                <form action="/excluiBounty" method="POST">
                    <input type="hidden" name="ID" value=<%= ID %>>
                    <button type="submit" class="xBotao">Excluir</button>
                </form>
                        
                <form action="/finalizaBounty" method="POST">
                    <input type="hidden" name="ID" value=<%= ID %>>
                    <button type="submit" class="fBotao">Finalizar</button>
                </form>
            
                
                
               
            </div>
        
        </aside>
    
        <main class="o-form">
            <h2 class="tituloComentario">COMENTÁRIOS</h2>
            <label class="sr-only" for="comments">Comentário</label>
            <div class="boxComentario">
                <ul>
                    <% for(var i=0; i<comentarios.length; i++) { %>
                        <li>
                            <%= comentarios[i] %>
                        </li>
                    <% } %>
                </ul>
            </div>
            
            <form action="/comentarBounty" method="POST">
                <input type="hidden" name="ID" value=<%= ID %>>
                <input type="text" id="comments" class="inputComentario" placeholder="Comentário" name="comments">
                <button type="submit" class="iBotao">Enviar</button>
            </form>
      </div>
        </main>
        
    <footer class="o-footer footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/perfil">Meu perfil</a></li>
                            <li><a href="/faq">F.A.Q</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bounty</h3>
                        <p>Faz uma bounty você tambem! ಠ_ಠ</p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/janetofreitas/Bounty"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <p class="copyright">Bounty © 2021</p>
            </div> 
    
    </footer>
    
    </body>  
</html>