<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <!DOCTYPE html>

    <html lang="pt-BR">
    
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/9ff781d0d0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/editarBounty.css">
        <title>Bounty</title>
    
    </head>
    
    <body>
        <header class="o-header">
            <nav> 
                <div class="logo">
                    <a href="/home" class="logoHeader"><img src="../assets/logoP.png"         alt=""></a>
                </div>
                
                <form action="/pesquisar" method="POST">
                  <input type="search" class="search-data" placeholder="Pesquisar" required>
                  <button type="submit" ><img src="../assets/searchIcon.png" alt=""></button>
                </form>
                
                <div class="mangue">
                    <h4 class="h1nav">Olá <%= name %> <br> <a href="/" id="navlogout">Logout</a></h4>
                </div>
        
                <div class="userarea">
                    <a href="/perfil" class="logoHeader"><img class="fotoHeader" src="Images/<%=mail%>.png" alt="  "></a>  
                </div>
              </nav> 
        </header>
        <aside class="o-logo">
         <div class="fcontainer">

                <img class="fotoBounty" src="Images/<%=ID%>.png" alt="Bounty sem imagem">
                <form action="/uploadBountyImg" method="POST" enctype="multipart/form-data">
                <input class="form-control-file" type="file"  name="image"/> 
                <button class="sBotao"  type="submit">Salvar</button>
                </form>

                <form action="/editarBountyF" method="post">
                    
                    <h4 class="tituloBT">Nome da Bounty</h4>
                    <label class="sr-only" for="name">Nome da Bounty</label>
                    <input type="text" id="name" name="name" class="input-forms" placeholder="Nome da Bounty" value="<%= NOME %>">
                    
                    
                    <label class="sr-only" for="prazoF">Prazo Final</label>
                    <input type="date" id="prazoF" name="prazoF" class="input-forms2" placeholder=""> 
                    
                    <h4 class="tituloBT">Restrições</h4>
                    <label class="sr-only" for="restrictions">Restrições</label>
                    <input type="text" id="restrictions" name="restrictions" class="input-forms3" placeholder="Restrições" value="<%= RESTRICAO %>"> 
                    
                    <h4 class="tituloBT">Descrição</h4>
                    <label class="sr-only" for="description">Descrição</label>
                    <input type="text" id="description" name="description" class="input-forms4" placeholder="Descrição" value="<%= DESCRICAO %>">
                    
                    <input type="hidden" name="ID" value=<%= ID %>>
                    
                    <div class="carrodoleite">
                        <button class="aBotao">Salvar</button>
                    </div>
                    
                    
                </form>
          </div>
        </aside>
    
        <main class="o-form">
            
        </main>
        
    <footer class="o-footer footer-dark">
    
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div> -->
                    <div class="col-sm-6 col-md-3 item">
                        <!-- <h3></h3> -->
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Meu perfil</a></li>
                            <li><a href="#">F.A.Q</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bounty</h3>
                        <p>Faz uma bounty você tambem! ಠ_ಠ</p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <p class="copyright">Bounty © 2021</p>
            </div> 
    
    </footer>
    
    </body>
    
    </html> 
    