<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/home.css">
         <script src="https://kit.fontawesome.com/27c00932fa.js" crossorigin="anonymous"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <title>Página Inicial</title>
        
        
               
    </head>
    
    <body>
        
        <header class="o-header">
            <nav> 
                <div class="logo">
                    <a href="/home" class="logoHeader"><img src="../assets/logoP.png"         alt=""></a>
                </div>
                
                <form action="#">
                  <input type="search" class="search-data" placeholder="Pesquisar" required>
                  <button type="submit" ><img src="../assets/searchIcon.png" alt=""></button>
                </form>
                
                <div class="mangue">
                    <h4 class="h1nav">Olá <%= name %> <br> <a href="/" id="navlogout">Logout</a></h4>
                </div>
        
                <div class="userarea">
                    <a href="/perfil" class="logoHeader"><img class="fotoHeader" src="Images/<%=mail%>.png" alt="  "></a>  
                </div>
              </nav> 
        </header>

        <main class="o-form">
            <h1 class="h1titulo">Home</h1>
            <!-- <button class="createBounty">Criar Bounty</button> -->
            <a href="/criarBounty" class="createBounty"> Criar Bounty</a>
            
            <div class="rectangleInfo"> 
                <h2>Nome: <br> <%= bountyName %></h2>
                <hr class="linha_vertical"/>
                <h4>Descrição: <br> <%= bountyDescription %></h4>
                <hr class="linha_vertical"/>
                <h4>Restrições: <br><%= bountyRestrictions %></h4>
                <hr class="linha_vertical"/>
                <img class="imgBounty" src="Images/<%=ID1%>.png" alt="Bounty sem imagem">
                <hr class="linha_vertical"/>
                <div class="bBotao">
                    <a href=<%= bounty1 %>>Acessar</a>
                </div>
            </div>

            <div class="rectangleInfo">
                <h2>Nome: <br> <%= bountyName2 %></h2>
                <hr class="linha_vertical"/>
                <h4>Descrição: <br> <%= bountyDescription2 %></h4>
                <hr class="linha_vertical"/>
                <h4>Restrições: <br><%= bountyRestrictions2 %></h4>
                <hr class="linha_vertical"/>
                <img class="imgBounty" src="Images/<%=ID2%>.png" alt="Bounty sem imagem">
                <hr class="linha_vertical"/>
                <div class="bBotao">
                    <a href=<%= bounty2 %>>Acessar</a>
                </div>
            </div>

            <div class="rectangleInfo">
                <h2>Nome: <br> <%= bountyName3 %> </h2>
                <hr class="linha_vertical"/>
                <h4>Descrição: <br> <%= bountyDescription3 %> </h4>
                <hr class="linha_vertical"/>
                <h4>Restrições: <br><%= bountyRestrictions3 %> </h4>
                <hr class="linha_vertical"/>
                <img class="imgBounty" src="Images/<%=ID3%>.png" alt="Bounty sem imagem">
                <hr class="linha_vertical"/>
                <div class="bBotao">
                    <a href=<%= bounty3 %>>Acessar</a>
                </div>
            </div>

            <div class="rectangleInfo">
                <h2>Nome: <br> <%= bountyName4 %> </h2>
                <hr class="linha_vertical"/>
                <h4>Descrição: <br> <%= bountyDescription4 %> </h4>
                <hr class="linha_vertical"/>
                <h4>Restrições: <br> <%= bountyRestrictions4 %> </h4>
                <hr class="linha_vertical"/>
                <img class="imgBounty" src="Images/<%=ID4%>.png" alt="Bounty sem imagem">
                <hr class="linha_vertical"/>
                <div class="bBotao">
                    <a href= <%= bounty4 %> >Acessar</a>
                </div>
            </div>
            
        </main>
        
        <!-- </div> -->

        <footer class="o-footer footer-dark">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/perfil">Meu perfil</a></li>
                            <li><a href="/faq">F.A.Q</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bounty</h3>
                        <p>Faz uma bounty você tambem! ಠ_ಠ</p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/janetofreitas/Bounty"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <p class="copyright">Bounty © 2021</p>
            </div> 
    
        </footer>
 
    </body>
</html>